* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #424162;
}

body {
    font-family: "Work Sans", sans-serif;
    /* color: rgb(44, 89, 148); */
    color: #424162;
}

img {
    width: 300px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

header {
    background-image: url("http://source.unsplash.com/diMcFfY-zcc");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

header ul li {
    display: inline-block;
    padding: 15px;
}

header h1 {
    color: var(--primary-color);
    font-size: 70px;
    font-weight: 300;
}

header h2 {
    color: var(--primary-color);
}

.header-top {
    padding: 40px;
}

.header-bottom {
    padding-bottom: 150px;
    padding-top: 80px;
}

main h2 {
    padding-bottom: 20px;
}

footer {
    padding: 50px;
    background-color: #ffdfd7;
    text-align: center;
}

.info_element {
    padding: 50px 50px;
    background-color: #ffe9e1;
}

.info_element:nth-child(2) {
    background-color: #ffdfd7;
}

a {
    color: white;
    text-decoration: none;
}
