* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-dark: #001808;
    --text-light: white;
    --highlight: #1eff00;
    --button-color: #038c31;
    --bg-color-light: #ffffff;
    --bg-color-dark: #f3f3f3;
    --bg-color-footer: #2d3435;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: var(--text-dark);
    background-color: var(--bg-color-dark);
    scroll-behavior: smooth;
}

/* Header */

header {
    background-image: url("http://source.unsplash.com/1zishMOGHao");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: var(--button-color);
    height: 60vh;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #25252591, #00000000);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 2;
}

.header-top-bg {
    background-color: var(--button-color);
}

.header-bottom {
    text-align: center;
    padding-top: 20vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

/* Header link styling */

a {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: white;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

/* .border {
    width: 0;
    height: 5px;
    background: var(--button-color);
    top: 20px;
    position: absolute;
}

header a:link {
    padding: 10px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
}

header a:hover {
} */

header h1 {
    color: var(--text-light);
    font-size: 4.5rem;
    font-weight: 400;
}

header h2 {
    color: var(--text-light);
    font-weight: 400;
}

/* Content */

.content {
    padding: 60px 90px;
    background-color: var(--bg-color-dark);
}

.content:nth-child(even) {
    background-color: var(--bg-color-light);
}

.content h2 {
    font-weight: 400;
    padding-bottom: 20px;
}

/* Projects */

.projects h2 {
    font-weight: 400;
    padding-bottom: 20px;
}

.project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-cards > * {
    flex: 1 1 200px;
}

.project-card {
    background-color: var(--bg-color-light);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
    margin: 10px;
    width: 22vw;
}

.project-card img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.project-card h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.project-card a {
    color: var(--button-color);
    text-decoration: none;
    padding: 5px 0;
}

.project-card em {
    display: block;
    padding: 15px 0;
}

/* About me section*/

.about-me img {
    width: 300px;
    height: auto;
    float: left;
    padding: 0 10px 10px;
}

/* Skills section */

.skill-cards {
    display: flex;
    justify-content: space-around;
}

.skill-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 20vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
}

.skill-card:nth-child(even) {
    background-color: #fafafa;
}

.skill-card h3 {
    padding: 20px;
}

.progress-bar {
    background-color: rgb(233, 233, 233);
    width: 70%;
    height: 15%;
    border-radius: 3px;
    box-shadow: inset 2px 2px 5px rgb(207, 207, 207);
}

.progress {
    height: 100%;
    width: 50%;
    background-color: #0ec049;
    border-radius: 3px;
}

.js {
    width: 50%;
}

.css {
    width: 30%;
}

.html {
    width: 50%;
}

/* Footer */

footer {
    background-color: var(--bg-color-footer);
    color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    padding: 20px;
}

/* Contact form */

footer h2 {
    font-weight: 400;
    padding: 50px;
    text-align: center;
}

footer form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

footer form input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text-dark);
    width: 34vw;
}

footer form button {
    background-color: var(--button-color);
    color: var(--text-light);
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    width: 20vw;
    align-self: center;
}

footer form input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: 0 0 5px var(--highlight);
}

.copyright h2 {
    font-weight: 200;
    font-size: 1rem;
}

.back-to-top {
    background-color: var(--button-color);
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.hidden {
    display: none;
}

/* Medium devices, tablets up to 768 px */

@media (max-width: 768px) {
    nav ul li {
        padding: 20px;
    }

    .logo {
        padding: 15px;
    }

    footer form {
        width: 60vw;
    }

    footer form input,
    textarea {
        padding: 10px;
        width: 40vw;
    }
}

/* Small devices, phones up to 375 px */

@media (max-width: 375px) {
    /* Header */

    header {
        padding: 10px;
        position: relative;
    }

    header h1 {
        font-size: 2rem;
    }

    .header-top {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .header-bottom {
        padding-top: 70px;
    }

    .logo h2 {
        font-size: 0.8rem;
    }

    nav ul li {
        padding: 10px;
        font-size: 0.8rem;
    }

    header h2 {
        font-size: 3rem;
    }

    /* Projects */

    /* .projects-element h2 {
        font-weight: 400;
        padding-bottom: 20px;
    }

    .projects-element {
        padding: 30px;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .project-card {
        background-color: var(--bg-color-light);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(185, 185, 185);
        width: 100%;
        margin-bottom: 15px;
    } */

    /* Info cards */

    .info-element img {
        width: 100%;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
    }

    .info-element:nth-child(2) img {
        padding: 0;
        padding-bottom: 20px;
    }

    /* Footer */

    footer form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90vw;
    }

    footer form input,
    textarea {
        padding: 10px;
        width: 60vw;
    }

    footer form button {
        margin: 20px 0;
        width: 50vw;
    }
}
